{% extends 'base/base.html' %}

{% block content %}

{% if request  %}

 		<div class="container-fluid table-responsive " >
		<div class="row">
			<div class="col-md-12 ">
				<nav class="navbar  navbar-light bg-light">
				
				<div class="col-6"><b class="navbar-brand" href="#">Sites </b> </div>
			
					<div class="col-6" >
					
						<form method="get" name="buscar" >

							<div class="input-group md-form form-sm    ">
								<input class="form-control  " type="text" placeholder="Nombre del Site" aria-label="Search" name="dato">
								<div class="input-group-append">
								<button type="submit" class="btn btn-info"><i class="fas fa-search text-grey"></i></button>
								</div>
							</div>
						</form>
					
					</div>
				</nav>
				<table class="table table-bordered table-dark table-striped">
				<thead class="thead-light">
					<tr >
						<th>ID</th>
						<th >Nombre</th>
						
						<th colspan="2" style="width:  8%" >Acciones</th>
						<th style="width:  5%"> <a class="fa fa-plus" href="{% url 'crear_site' %}"><a></th>  
					</tr>
				</thead> 	

			   {% if object_list %}
				<tbody>
				 {% for site in object_list  %}
					<tr>
						<td>{{site.id_site}}</td>
						<td>{{site.nombre_site}}</td>
							<!--Botones de Accion-->
							<td><a class="fa fa-pencil-square-o fa-lg" href=" {% url 'editar_site' site.id_site %}"></a></td>
							<td><a class="fa fa-trash fa-lg" href=" {% url 'borrar_site' site.id_site %}"></a></td>
					</tr>
				{% endfor %}
				</tbody>
			   {% endif %}


				</table>
			</div>
		</div>
	</div>
	 
	{% endif %}
	 {% endblock content %}