{% extends "base/base.html" %} {% block content %}


<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">


                <nav class="navbar  navbar-light bg-tp_magenta_pink">
                    <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6 col-xl-6"><b class="navbar-brand" href="#">Viajes comunes</b> </div>
                    <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6 col-xl-6">
                        <form method="get" name="buscar">
                            <div class="input-group md-form form-sm    ">
                                <button class='btn btn-info' type="submit" value="bajar" onclick='this.form.action="{% url 'reportexls' %}";' class="btn btn-info"><i class="icon-cloud-download"></i></button cl>

                                <input class="form-control  " type="text" placeholder="Numero de viaje" aria-label="Search" name="dato">
                                <div class="input-group-append">
                                    <button class='btn btn-info' type="submit" value="buscar" onclick='this.form.action="reporte_tr";' class="btn btn-info"><i class="fas fa-search text-grey"></i></button cl>
                            </div>
                    </div>
                    </form>

            </div>
            </nav>


            <div class="table-responsive">
                <table class="table" id="tabla_viajes_comunes">
                    <thead class="bg-primary text-white">
                        <tr>
                            <th> ID</th>
                            <th> Viaje</th>
                            <th> Transportista</th>
                            <th> Fecha</th>
                            <th> Hora</th>
                            <th> Tipo</th>
                           
                            <th> Acciones</th>

                        </tr>
                    </thead>
                    {% if object_list %}
                    <tbody class="border border-primary">
                        {% for viaje in object_list %}
                        <tr>
                            <td>{{viaje.id_viaje}}</td>
                            <td>{{viaje.numero_viaje}}</td>
                            <td>{{viaje.transportista}}</td>
                            <td>{{viaje.fecha_viaje}}</td>
                            <td>{{viaje.hora_viaje}}</td>
                            <td>{{viaje.tipo_viaje}}</td>
                         
                        
                            <!--Botones de Accion-->

                            <!--Botones de Accion-->
							<td><a class="icon-book-open" href="{% url 'detalle_viaje' viaje.numero_viaje  %}"></a></td>
                        </tr>
                        {% endfor %} {%else%}

                        <td colspan="11" style="">No hay pasajeros en la cola del viaje</td>
                    </tbody>

                    {% endif %}
                </table>
            </div>
        </div>
    </div>
</div>
</div>
 
{% block js %}

<!--Este Script es para manejar el plugin de javascript llamado DATA TABLE, en conjunto con los CSS y JS que estan en la plantilla base.html se encargan de crear una paginacion y un biscador para las tabla html con el buscador se puede filtrar automaticamente cualquier palabla que este en la tabla-->
<!--https://datatables.net/-->
<script>
   


$('#tabla_viajes_comunes').DataTable( {
    "order": [0,'desc'],

    language: {
        processing:     "Procesando...",
        search:         "Filtrar",
        lengthMenu:    "Mostrar _MENU_ ",
        info:           "Mostrando elementos del _START_ al _END_ de _TOTAL_ elementos",
        //infoEmpty:      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
        infoFiltered:   "(filtrado de un total de _MAX_  elementos)",
        infoPostFix:    "",
        loadingRecords: "Cargando...",
        zeroRecords:    "Ninguno",
        emptyTable:     "No hay datos disponibles en la tabla",
        paginate: {
            first:      "Primero",
            previous:   "Anterior",
            next:       "Siguiente",
            last:       "Ultimo"
        },
        aria: {
            sortAscending:  ": active para ordenar la columna en orden ascendente",
            sortDescending: ": active para ordenar la columna en orden descendente"
        }
    }

    
} );
    </script>
  
{% endblock js %}


{% endblock content %}