{% extends "base/base.html" %} {% block content %}


<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">


                <nav class="navbar  navbar-light bg-tp_magenta_pink">
                    <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6 col-xl-6"><b class="navbar-brand" href="#">Lista de viajes comunes</b> </div>
                    <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6 col-xl-6">
                        <form method="get" name="buscar">
                            <div class="input-group md-form form-sm    ">
                                <button class='btn btn-info' type="submit" value="bajar" onclick='this.form.action="{% url 'reportexls' %}";' class="btn btn-info"><i class="icon-cloud-download"></i></button cl>

                                <input class="form-control  " type="text" placeholder="Numero de viaje" aria-label="Search" name="dato">
                                <div class="input-group-append">
                                    <button class='btn btn-info' type="submit" value="buscar" onclick='this.form.action="reporte_tr";' class="btn btn-info"><i class="fas fa-search text-grey"></i></button cl>
                            </div>
                    </div>
                    </form>

            </div>
            </nav>


            <div class="table-responsive">
                <table class="table">
                    <thead class="bg-primary text-white">
                        <tr>
                            <th> ID</th>
                            <th> Viaje</th>
                            <th> Transportista</th>
                            <th> Fecha</th>
                            <th> Hora</th>
                            <th> Tipo</th>
                           
                            <th> Acciones</th>

                        </tr>
                    </thead>
                    {% if object_list %}
                    <tbody class="border border-primary">
                        {% for viaje in object_list %}
                        <tr>
                            <td>{{viaje.id_viaje}}</td>
                            <td>{{viaje.numero_viaje}}</td>
                            <td>{{viaje.transportista}}</td>
                            <td>{{viaje.fecha_viaje}}</td>
                            <td>{{viaje.hora_viaje}}</td>
                            <td>{{viaje.tipo_viaje}}</td>
                         
                        
                            <!--Botones de Accion-->

                            <!--Botones de Accion-->
							<td><a class="icon-book-open" href="{% url 'detalle_viaje' viaje.numero_viaje  %}"></a></td>
                        </tr>
                        {% endfor %} {%else%}

                        <td colspan="11" style="">No hay pasajeros en la cola del viaje</td>
                    </tbody>

                    {% endif %}
                </table>
            </div>
        </div>
    </div>
</div>
</div>


{% endblock content %}