{% extends "base/base.html" %} {% load static %} {% block title %}
<title>Crear Transportista</title>
{% endblock title %} {% block content %} {% if request.user.is_admin %}
<div class="row">

    <div class="col-sm-12 col-md-12">
        <div class="card">
            <h2 class="text-center">Formulario de <strong>Transportistas</strong></h2>
            <div class="card-body">


                <form method="POST">
                    {% csrf_token %}
                    <div class="form-body">

                        <div class="row">
                            <div class="col-md-4 m-auto">

                                <div class="form-group">{{form.codigo_transportista}}</div>
                                <div class="form-group">{{form.nombre}}</div>
                                <div class="form-group">{{form.apellido}}</div>

                            </div>
                        </div>



                        <div class="row">
                            <div class="col-md-4 m-auto">
                                <div class="form-group">
                                    <div class="form-group"><label class="ml-3">Rutas:</label></div>

                                    <div class="form-group">{{form.ruta}}</div>

                                </div>



                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="vendor">Vendor</label>
                                    </div>
                                    {{form.vendor}}
                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="form-actions mt-4">
                        <div class="text-center">
                            {{form.errors}}
                        </div>
                    </div>


                    <div class="form-actions mt-4">
                        <div class="text-center">
                            <button type="submit" class="btn btn-info">Guardar</button>
                            <a href="{% url 'transportistas' %}" class="btn btn-dark">Cancelar</a>
                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>
</div>
{% endif %} {% endblock content %}