{% extends "base/base.html" %}


{% block content %}
<div class="container-fluid table-responsive " >
		<div class="row">
			<div class="col-md-12 ">
				<nav class="navbar  navbar-light bg-light">
				
				<div class="col-6"><b class="navbar-brand" href="#">Viaje En Curso</b> </div>
			
					<div class="col-6" >
					
						<form method="get" name="buscar" >
							<div class="input-group md-form form-sm    ">
								<input class="form-control  " type="text" placeholder="id del Pasajero" aria-label="Search" name="dato">
								<div class="input-group-append">
								<button type="submit" class="btn btn-info"><i class="fas fa-search text-grey"></i></button>
								</div>
							</div>
						</form>
					
					</div>
				</nav>
				<table class="table table-bordered table-dark table-striped">
				<thead class="thead-light">
					<tr >
					<th> ID</th>
					<th> Viaje</th>
					<th> Transportista</th>
					<th> Fecha</th>
					<th> Hora</th>
					<th> Tipo</th>
					<th> Pasajero</th>
					<th> Nombre</th>
					<th> Apellido</th>
					<th> Campaña</th>
					<th> Site</th>
					<th> Ruta</th>
					<th> Direccion</th>
						
					<th colspan="2" style="width:  8%" >Acciones</th>
						 
					</tr>
				</thead> 	
			
			   {% if object_list %}
				<tbody>
				 {% for viaje in object_list  %}
					<tr>
						<td>{{viaje.id_viaje}}</td>
						<td>{{viaje.numero_viaje}}</td>
						<td>{{viaje.transportista}}</td>
						<td>{{viaje.fecha_viaje}}</td>
						<td>{{viaje.hora_viaje}}</td>
						<td>{{viaje.tipo_viaje}}</td>
						<td>{{viaje.id_pasajero}}</td>
						<td>{{viaje.nombre_pasajero}}</td>
						<td>{{viaje.apellido_pasajero}}</td>
						<td>{{viaje.campaña_pasajero}}</td>
						<td>{{viaje.site_pasajero}}</td>
						<td>{{viaje.ruta_pasajero}}</td>
						<td>{{viaje.direccion_pasajero}}</td>
							<!--Botones de Accion-->
							
							<td><a class="fa fa-trash fa-lg" href="#"></a></td>
					</tr>
				{% endfor %}
				{%else%}
				
				<td colspan="11" style="">No hay Hay Pasajeros en la Cola del Viaje</td>
				</tbody>



			   {% endif %}




				</table>


			</div>
		</div>
	</div>
	
<!-- Aqui se muestra el precio del viaje que que se recibe por ql Query Set atravez del Contexto en la Vista Viajes-->
		<div>
			<label>Cantidad de Pasajaros:</label> <b>{{cantidad_pasajeros}}</b>
			<label>Precio del Viaje:</label> <b>{{precio_viaje}}</b>
			<label>Precio por Pasajero:</label> <b>{{precio_por_pasajero}}</b>
		</div>


{% endblock content %}